body,html,#root{
    width: 100%;
    height: 100%;
}
body,#root{
    position: absolute;
    top:0;
    left: 0;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.warp{
    width: 100%;
    height: 230px;
    margin-top: 170px;
    h1{
        width: 100%;
        height: 55;
        text-align: center;
        font-weight: 1000;
        color: skyblue;
    }
    .ant-input{
        width: 66%;
        margin-top: 15px;
        margin-left: 65px;
    }
    .ant-btn{
        margin-top: 60px;
        margin-left: 5px;

    }
    .entd{
        margin-left: 84px;
    }
    
}